* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,
*::before {
    box-sizing: inherit;
    background-color: var(--primary-050);
}
:root {
    --primary-050: #28bbe7; 
    --secondary-050: #f5f5f5; 
    --gray-010: #f1f1f1;
    --gray-020: #e4e4e4;

    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-feature-settings: "palt";
    font-size: 16pt;
}

.global-nav h1 {
    font-size: 2rem;
    font-family: 'Pacifico',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 1rem;

    color: var(--primary-050);
    text-shadow: 1px 1px 0 var(--dark-026);
}
.global-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 1rem var(--dark-026);
    }
    .global-nav .menu ul {
        list-style: none;
        display: flex;
        align-items: center;
    }
    .global-nav .menu ul a {
        color: var(--primary-050);
        text-decoration: none;
        display: inline-block;
        line-height: 1;
        font-size: 1.125rem;
        padding: calc(1.25rem - 4px) 2rem;
        transition: color,background-color 0.3s;
        border-right: 1px solid var(--dark-012);
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
    .global-nav .menu ul a:hover {
        background-color: var(--primary-050);
        color: var(--secondary-050);
        border-bottom: 4px solid var(--secondary-050);
    }
    body {
        background-color: var(--primary-050);
    }
    
    #img1{
        transition: all 500ms 0s ease;
    }
    .on {
        transform: scale(1.3, 1.3);
    }
    .off {
        transform: scale(1.0, 1.0);
    }
    #img2{
        transition: all 500ms 0s ease;
    }
    #img3{
        transition: all 500ms 0s ease;
    }
    #img4{
        transition: all 500ms 0s ease;
    }
    #contentlist {
        display: flex;
        flex-wrap: wrap;
        
        background-attachment: fixed;
        background-size: cover;
       
    }
    section {
        
        height: 240vh;
        padding: 3rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 3rem;
       
    }
    #sec1 {
        
       text-align: center;
       justify-content: center;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        
    }
    .pagetitle h1{
        color: #fff;
       
        
        justify-content: center;
    }
     .profilelist {
         margin: 10rem;
         align-items: center;
         justify-content: center;
         text-align: center;
         width: 1000px;
    height: 600px;
    background-color: rgba(253, 255, 140, 0.6);
    border-radius: 20px;   
     }
     .profilelist h2{
         color: #fff;
         text-align: center;
        display: flex;
        padding-top: 4rem;
        justify-content: center;
        font-size: 4rem;
     }
     .profilelist h3 {
        color: #fff;
        text-align: center;
         font-size: 2.5rem;
         justify-content: center;
         padding-top: 3rem;
     }
     .profilelist p {
        color: #fff;
        text-align: center;
         justify-content: center;
         font-size: 1.25rem;
     }
     .toppage h1 {
       color: #fff;
       text-align: center;
       justify-content: center;
       font-size: 4rem;
       
       padding-top: 16rem;
     }
    